html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: hsl(0, 0%, 18%);
}




/*Логотип*/

.logo-image {
    width: 65px;
    height: auto;
}

.custom-img-cinemalogo {
    width: 120px;
    height: auto;
}


/*Расположение карточек акций*/

.reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: white;
}

.normal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}



.text-white a {
    color: white;
}



.promotionBtnColor {
    background-color: #bd257f;
}

    .promotionBtnColor:hover {
        background-color: #bd257f;
    }


/*Соцсети footer*/

.btn-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}


ul {
    list-style-type: none;
}

.carousel-inner {
    height: 400px;
}

.custom-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.custom-img-size {
    width: 200px;
    height: auto;
}

.promotion-card h {
    color: white;
}

.card-news-text {
    text-decoration: none;
    color: black;
}

    .card-news-text:hover {
        text-decoration: none;
        color: #c2255a
    }


/*Карточка фильма, выбор сеанса и оплата*/

.movie-card-details {
    width: 250px;
    height: 250px;
    clip-path: circle(40%);
}