html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 18%);
}

/* Header */

/* Логотип в шапке и в футер */
.logo__image__custom {
    width: 75px;
    height: auto;
}

/* Меню в шапке */
.header__navbar__custom a {
    margin: 10px 5px 0 0;
    padding: 0;
    color: #fff;
}

    .header__navbar__custom a:hover {
        background-color: #2a2a2a;
        color: #bd257f;
    }

/* Ссылка на личный кабинет */
.header__personal__account .nav-link:hover {
    color: #bd257f !important;
    box-shadow: none !important;
}

/* Окно регистрации пользователя */
/* Кнопки Вход и Регистрация */
.personal__account__navbuttons .nav-link {
    padding: 5px;
    color: black !important;
}

    .personal__account__navbuttons .nav-link:hover {
        color: #bd257f !important;
    }

/* Кнопки Email и Телефон */
.contact__btns__custom .nav-link {
    padding: 5px 10px;
    margin: 0 10px 3px 0;
    border: 1px solid #bd257f;
    color: #bd257f;
}

    .contact__btns__custom .nav-link.active {
        background-color: #bd257f !important;
        color: white !important;
    }

    .contact__btns__custom .nav-link:hover {
        color: #bd257fa9;
    }

.contact__btns__custom:active,
.contact__btns__custom:focus {
    border-color: #c60085d4;
    box-shadow: none !important;
}


/* Поля ввода данных для логина */
.personal__contact__input .form-control:focus {
    border-color: #bd257f !important;
    box-shadow: 0 0 3px rgba(189, 37, 127, 0.5) !important;
}

.personal__contact__input .input-group:focus-within .input-group-text i {
    color: #bd257f !important;
}

/* Текст Забыли пароль */
.forget__password__text {
    text-decoration: none !important;
    color: #bd257f;
}

    .forget__password__text:hover {
        color: #bd257fab;
    }

/* Кнопка Войти */
.enter__btn__custom {
    background-color: #bd257f96 !important;
    color: white !important;
    border-color: transparent;
}

    .enter__btn__custom:hover {
        background-color: #bd257fa4 !important;
        color: white !important;
        border-color: transparent;
    }

    .enter__btn__custom:focus {
        box-shadow: none !important;
    }

/* Текст Пользовательского соглашения */
.personal__agreement__text {
    color: #bd257f;
}

    .personal__agreement__text:hover {
        text-decoration: none;
    }





/* Расположение карточек акций поочередно слева и справа */
.reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: white;
}

.normal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

/* Кнопка УЗНАТЬ БОЛЬШЕ в news на главной странице */
.promotionBtnStyle {
    background-color: #bd257f;
    border-radius: 17px;
    border: 0px;
    padding: 15px 35px;
    transition: background-color 0.2s ease;
}

    .promotionBtnStyle:hover {
        background-color: #f632a6;
    }

    .promotionBtnStyle:active,
    .promotionBtnStyle:focus {
        background-color: #f632a6 !important;
        border: 0 !important;
        box-shadow: none !important;
    }



/* Цвет текста ссылок */
.text-white a {
    color: white;
}

.promotion-card h {
    color: white;
}

/* Карточка фильма, выбор сеанса и оплата */
.movie-card-details {
    width: 250px;
    height: 250px;
    clip-path: circle(40%);
}


/* Карточка новостей */
.card-news {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.card-body-news {
    flex-grow: 1;
}

.card-img-top-news {
    height: 200px;
    object-fit: cover;
}


/* Карточки новостей на главной странице ближе к footer */
.custom-card-news {
    background-color: transparent;
    border: none;
}

.custom-card-img-top {
    border-radius: 15px;
}

.card-news-text {
    text-decoration: none;
    color: white;
}

    .card-news-text:hover {
        text-decoration: none;
        color: #f632a6;
    }


/* Текст предложений для клиентов */
.custom-offer-text a:hover {
    color: #f632a6 !important;
    text-decoration: none !important;
}


/* Слайдер рекламы фильмов ближе к header */
.carousel-inner {
    height: 500px;
}

.custom-carousel .carousel-item {
    height: 500px;
}

.custom-carousel img {
    height: 400px;
}

.custom-carousel img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* Карточки фильмов на стартовой странице */
.custom-card {
    position: relative;
    overflow: hidden;
    border-radius: 18px;
    border: 0px;
}

    .custom-card:hover .overlay {
        height: 30%;
    }

.card-img-custom {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.card-movie-poster {
    display: block;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: #c60085d4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
    transition: height 0.2s ease-out;
}


/* Кнопка отображения дней показов фильма при покупке билета */
.btn-movie-session {
    padding: 3px 18px;
    margin: 10px 8px 10px 0;
    color: white;
    background-color: transparent;
    border: 1px solid grey;
}

    .btn-movie-session:hover {
        border: 1px solid #bd257f;
        color: #bd257f;
    }

    .btn-movie-session.active {
        border-color: #c60085d4;
        color: #c60085d4;
    }

    .btn-movie-session:active,
    .btn-movie-session:focus {
        border: 1px solid #c60085d4 !important;
        box-shadow: none !important;
    }


/* Кнопка Все холлы*/
.btn-hall-all {
    padding: 0px 8px;
    margin: 5px;
    background-color: transparent !important;
    color: white !important;
    border-radius: 15px;
    border: 1px solid grey !important;
}

    .btn-hall-all:hover {
        border: 1px solid #bd257f !important;
        color: #bd257f !important;
    }

    .btn-hall-all.active {
        padding: 0px 8px;
        margin: 5px;
        background-color: transparent !important;
        border: 1px solid grey !important;
        color: white !important;
        border-radius: 15px;
        border: 1px solid #bd257f !important;
        color: #bd257f !important;
    }

    .btn-hall-all:active,
    .btn-hall-all:focus {
        border-color: #c60085d4;
        border: 1px solid #bd257f !important;
        box-shadow: none !important;
    }

/*Остальные кнопки остальных видов холла*/
.btn-hall-other {
    padding: 0px 8px;
    margin: 5px;
    background-color: transparent !important;
    border: 1px solid grey !important;
    color: white !important;
    border-radius: 15px;
}

    .btn-hall-other:hover {
        border: 1px solid #bd257f !important;
        color: #bd257f !important;
    }

    .btn-hall-other.active {
        padding: 0px 8px;
        margin: 5px;
        background-color: transparent !important;
        border: 1px solid grey !important;
        color: white !important;
        border-radius: 15px;
        border: 1px solid #bd257f !important;
        color: #bd257f !important;
    }

    .btn-hall-other:active,
    .btn-hall-other:focus {
        border-color: #c60085d4;
        border: 1px solid #bd257f !important;
        box-shadow: none !important;
    }


/* Footer */
/* Соцсети footer */
.btn-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}
