<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-secondary mx-2 btn-circle"><i class="fa-brands fa-vk"></i></button>
        <button type="button" class="btn btn-outline-secondary mx-2 btn-circle"><i class="fa-brands fa-telegram"></i></button>
        <button type="button" class="btn btn-outline-secondary mx-2 btn-circle"><i class="fa-brands fa-youtube"></i></button>
    </div>
</div>
<div class="col-6">

    <div class="container-fluid">
        <div class="row">
            <div class="container mt-5 col">
                <div class="d-flex flex-column align-items-start">
                    <h5 class="white-text">Для клиентов</h5>
                    <a href="#" class="text-decoration-none mb-2 white-text">Кинотеатры</a>
                    <a href="#" class="text-decoration-none mb-2 white-text">Арт</a>
                    <a href="#" class="text-decoration-none mb-2 white-text">Мультикарта</a>
                    <a href="#" class="text-decoration-none mb-2 white-text">Акции и скидки</a>
                    <a href="#" class="text-decoration-none mb-2 white-text">Обратная связь</a>
                    <a href="#" class="text-decoration-none mb-2 white-text">Типы залов и мест</a>
                    <a href="#" class="text-decoration-none mb-2 white-text">Новости</a>
                    <a href="#" class="text-decoration-none mb-2 white-text">Условия покупки билетов</a>
                </div>
            </div>
            <div class="container mt-5 col">
                <div class="d-flex flex-column align-items-start">
                    <h5 style="color:white">Для клиентов</h5>
                    <a href="#" class="text-decoration-none mb-2 white-text">О компании</a>
                    <a href="#" class="text-decoration-none mb-2 white-text">Вакансии</a>
                    <a href="#" class="text-decoration-none mb-2 white-text">Аренда в кинотеатрах</a>
                    <a href="#" class="text-decoration-none mb-2 white-text">Франчайзинг</a>
                </div>
            </div>
            <div class="container mt-5 col">
                <div class="d-flex flex-column align-items-start">
                    <a href="#" class="text-decoration-none mb-2 white-text">Реклама в кинотеатрах</a>
                    <a href="#" class="text-decoration-none mb-2 white-text">Пресс-служба</a>
                    <a href="#" class="text-decoration-none mb-2 white-text">Реклама на сайте</a>
                </div>
            </div>
        </div>
    </div>
</div>
