<div class="modal" tabindex="-1" id="LoginSuccessModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-start" style="width: 100%">
                    УСПЕШНАЯ АВТОРИЗАЦИЯ
                </h5>
            </div>
            <div class="modal-body text-center">
                <h5>Здравствуйте, <span id="LoginSuccesNameSpot"></span></h5>
                <p>
                    Вы успешно авторизовались на сайте
                </p>
            </div>
            <div class="modal-footer justify-content-center">
                <a class="btn btn-secondary learn__more__btn" asp-controller="Account" asp-action="PersonalAccount">
                    В ЛИЧНЫЙ КАБИНЕТ
                </a>
                <a class="btn btn-secondary learn__more__btn"
                   data-bs-dismiss="modal">
                    ЗАКРЫТЬ
                </a>
            </div>
        </div>
    </div>
</div>