<div class="modal" tabindex="-1" id="LoginSuccessModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">УСПЕШНАЯ АВТОРИЗАЦИЯ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>Здравствуйте, ...</h3>
                <p>Вы успешно авторизовались на сайте</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">В ЛИЧНЫЙ КАБИНЕТ</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ЗАКРЫТЬ</button>
            </div>
        </div>
    </div>
</div>