<div class="modal" tabindex="-1" id="LoginSuccessModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">

                <h1>Успешная авторизация</h1>

                <hr class="custom-divider">

                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="container-fluid">
                <div class="row ">

                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-6">

                            <div class="pt-2">
                                <p>Способ авторизации</p>

                                <div class="pb-3">
                                    <button type="button" class="btn btn-outline-secondary" id="EmailBtn">Email</button>
                                    <button type="button" class="btn btn-outline-secondary" id="PhoneBtn">Телефон</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <p>Нажимая кнопку входа, вы принимаете условия <a href="#"> Пользовательского соглашения</a></p>
                        </div>
                    </div>

                    <div class="col-6">

                        <div class="col">
                            <button type="button" class="btn btn-primary w-100 mb-3 mt-3" id="Login">Войти</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>