@model IEnumerable<HomePosterViewModel>

<div class="row row-cols-1 row-cols-md-4 g-4 p-3">
    @foreach (var poster in Model)
    {
        <div class="col">
            <div class="card card-movie-poster h-100 custom-card">
                <a asp-controller="Movies" asp-action="Get" asp-route-id="@poster.Id">
                    <img src="@poster.CardImagePath" class="card-img-custom" alt="Some picture">
                </a>
                <div class="card-body">
                    <p class="card-text">@poster.AgeRating+</p>
                </div>
                <div class="overlay">
                    <div class="movie-title">@poster.Name</div>
                </div>
            </div>
        </div>
    }
</div>