@model IEnumerable<PosterViewModel>

<div class="row row-cols-1 row-cols-md-4 g-4 p-3">
    @foreach (var poster in Model)
    {
        <div class="col">
            <div class="card h-100">
                <a asp-controller="Movies" asp-action="GetMovieById" asp-route-id="@poster.Id">
                    <img src="@poster.CardImagePath" class="card-img-top" alt="Some picture">
                </a>
                <div class="card-body">
                    <h5 class="card-title">@poster.Name</h5>
                    <p class="card-text">@poster.Age+</p>
                </div>
            </div>
        </div>
    }
</div>