<div class="modal" tabindex="-1" id="RegistrationSuccessModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" style="width: 100%">
                    РЕГИСТРАЦИЯ ЗАВЕРШЕНА
                </h5>
            </div>
            <div class="modal-body text-center">
                <h5>УСПЕШНАЯ РЕГИСТРАЦИЯ</h5>
                <p>
                    На ваш электронный адресс было отправлено письмо для активации
                    профиля. Далее
                </p>
                <p>следуйте инструкциям указанным в этом письме.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    ЗАКРЫТЬ
                </button>
            </div>
        </div>
    </div>
</div>