<div class="modal" tabindex="-1" id="">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">

                <div class="d-flex justify-content-start me-5">
                    <a href="#" class="me-3 text-decoration-none">Вход</a>
                    <a href="#" class="text-decoration-none">Регистрация</a>
                </div>

                <hr class="custom-divider">

                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="container">
                <div class="col-6 mt-3">
                    <p>Укажите ваши данные</p>
                </div>
            </div>

            <div class="container">
                <div class="row">

                    <div class="col-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-mobile-screen-button"></i></span>
                            <input type="text" class="form-control" placeholder="Ваш номер телефона" id="PhoneRegistration">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-circle-user"></i></span>
                            <input type="text" class="form-control" placeholder="Ваше имя" id="NameRegistration">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                            <input type="text" class="form-control" placeholder="Придумайте пароль" id="PasswordRegistration">
                        </div>
                        <p style="font-size: 12px;">
                            Пароль должен содержать цифры, заглавные и строчные буквы. Длина пароля не менее 6 символов.
                        </p>
                    </div>

                    <div class="col-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-at"></i></span>
                            <input type="text" class="form-control" placeholder="Введите ваш email" id="EmailRegistration">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-circle-user"></i></span>
                            <input type="text" class="form-control" placeholder="Ваша фамилия" id="SurnameRegistration">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                            <input type="text" class="form-control" placeholder="Повторитe пароль" id="RepeatPassword">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-venus-mars"></i></span>
                            <select id="GenderRegistration" class="form-select">
                                <option selected>Укажите ваш пол</option>
                                <option>Мужской</option>
                                <option>Женский</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="col">
                    <div class="form-check mb-3">
                        <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Хочу получать информацию о новостях и акция компании Киномакс.
                        </label>
                    </div>
                    <div class="form-check mb-3 d-flex align-items-center">
                        <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Я принимаю условия Пользовательского соглашения и даю свое согласие на обработку моих персональных данных,
                            в соответствияя с Федеральным законом от 27.07.2006 года №152-ФЗ "О персональных данных", на условиях и
                            для целей, определенных Политикой конфиденциальности.
                        </label>
                    </div>
                </div>
            </div>

            <div class="col d-flex justify-content-center">
                <button type="button" class="btn btn-primary w-50 mb-3 mt-3" id="Registration">Зарегистрироваться</button>
            </div>

        </div>
    </div>
</div>