@model IEnumerable<ArtViewModel>

<div class="row row-cols-1 row-cols-md-4 g-4 p-3">
    @foreach (var movie in Model)
    {
        <div class="col">
            <div class="card h-100 movie__card_custom">
                <a asp-controller="Movies" asp-action="Get" asp-route-id="@movie.Id">
                    <img src="@movie.CardImagePath" class="movie__img__custom" alt="Some picture">
                </a>
                <div class="card-body">
                    <p class="card-text">@movie.AgeRating+</p>
                </div>
                <div class="movie__card__overlay">
                    <div class="movie-title">@movie.Name</div>
                </div>
            </div>
        </div>
    }
</div>