<section>
    <h1>Жанры</h1>
    <table id="GenresTable">
        <thead>
            <tr>
                <th>name</th>
            </tr>
        </thead>
    </table>
</section>


@section Scripts {
    <script src="~/js/views/admin/genres/Index.js"></script>
} 