<footer>
    <div class="text-white text-center">
        <p>© 2006-2024 Сеть кинотеатров «Киномакс» – все права защищены. <a class="card-footer"href="#">Политика конфиденциальности</a></p>
    </div>
</footer>