@using OnlineCinema.Mvc.Services.CurrentUser
@inject ICurrentUserService currentUserService

@{
    string account = currentUserService.IsAuthenticated ? currentUserService.Name : "Личный кабинет";
}

<header>
    <nav class="navbar navbar-expand-lg header__navbar__custom">
        <div class="container">
            <a class="navbar-brand logo__custom__effect" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo/logo.png" alt="Logo" class="logo__image__custom" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#NavbarSupportedContent" aria-controls="NavbarSupportedContent" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="NavbarSupportedContent">
                <ul class="nav nav-underline">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Promotions" asp-action="Promotions">АКЦИИ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Movies" asp-action="KidsMovies">ДЕТЯМ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Movies" asp-action="ArtMovies">АРТ</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" data-bs-toggle="modal" data-bs-target="#PersonalAccountModal" href="#">
                            <i class="fa-regular fa-user me-1"></i><span id="AccountUserName">@account</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>