<section>
    <div class="genres d-flex justify-content-between">
        <h1 class="text-white admin__title">Акции</h1>
        <button class="btn btn-outline-light admin-add-btn">
            Добавить акцию
        </button>
    </div>
    <table id="PromotionsTable" class="table">
        <thead>
            <tr>
                <th>Название</th>
            </tr>
        </thead>
    </table>
</section>


@section Scripts {
    <script src="~/js/views/admin/promotions/Index.js"></script>
} 