@using OnlineCinema.Mvc.Models.ViewModels.Hall
@model IEnumerable<HallViewModel>

<h1 class="text-white">Типы залов и мест</h1>
<table class="hall__seat__types">
    <thead>
        <tr>
            <th>Название зала</th>
            <th>Описание</th>
            <th>Фото</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hall in Model)
        {
            <tr>
                <td class="td__width">@hall.Name</td>
                <td>@hall.Description</td>
                <td><img src="@hall.PicturePath" /></td>
            </tr>
        }
    </tbody>
</table>