@model PromotionViewModel

<div class="text-white">
    <h3>@Model.DisplayName</h3>
    <p>@Model.DateTime.ToString("f")</p>
    <p>@Model.Description</p>
    <img src="~/@Model.ImagePath" class="rounded-3" alt="Alternate Text" />
</div>
