@model PromotionViewModel

<div class="white-text">
    <h3>@Model.Name</h3>
    <p>@Model.DateTime.ToString("f")</p>
    <p>@Model.Name</p>
    <p>@Model.Description</p>
    <img src="~/@Model.ImagePath" class="rounded-3" alt="Alternate Text" />
</div>
